:root {
    --cta-btn-clr: rgb(59 130 246);
    --arrow-btn-clr: rgb(59 130 246 / .5);
    --ff-primary: "Roboto", sans-serif;
    --ff-logo: "Playwrite GB S", cursive;
    --primary-btn-clr: rgb(251 146 60);
    --border-color: #e5e7eb;
    --clr-btn: white;
    --fs-primary-heading: 3rem;
    --fs-secondary-heading: 2rem;
    --fs-tertiary-heading: 1.2rem;
    --fs-paragraph: 1.1rem;
    --fs-btn: 1.2rem;
    --box-shadow: 0 .5rem .7rem;
    --scale-img: 1.2;
    --scale-logo: 1.1;
    --transition: all 300ms ease-in-out;
    --border-rad: .5rem;
    --padding: 0.7rem 1rem;
}

body {
    background: linear-gradient(hsl(240, 17%, 17%), hsl(240, 10%, 8%));
    font-size: 62.5%;
    font-family: var(--ff-primary);
    position: relative;
}

.primary-heading {
    font-size: var(--fs-primary-heading);
    color: whitesmoke;
    text-transform: capitalize;
    font-weight: 900;
}

.secondary-heading {
    font-size: var(--fs-secondary-heading);
    text-decoration: underline;
    color: whitesmoke;
    text-transform: capitalize;
    font-weight: 500;
}

.tertiary-heading {
    font-size: var(--fs-tertiary-heading);
    text-decoration: underline;
    color: whitesmoke;
    text-transform: capitalize;
    font-weight: 700;
}

.paragraph {
    font-size: var(--fs-paragraph);
    color: whitesmoke;
    font-weight: 400;
    line-height: 1.5;
}

.secondary-paragraph {
    font-size: 1rem;
    color: whitesmoke;
    font-weight: 300;
    line-height: 1.5;
}

.sections {
    margin-inline: 8%;
    margin-block: 5rem;
}

button {
    border: 0;
    border-radius: var(--border-rad);
    padding-inline: 1rem;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
    transform: var(--transition);
}

button:hover {
    scale: 1.1;
}

.up-arrow {
    position: fixed;
    color: white;
    bottom: 2rem;
    right: 3rem;
    border-radius: 50%;
    background: var(--cta-btn-clr);
    padding: 1rem;
    animation: bounce 1s infinite;

    img {
        width: 1.5rem;
    }
}

.navbar {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 5%;

    button {
        display: flex;
        align-items: center;
        gap: .8rem;
        background: var(--primary-btn-clr);
        color: var(--clr-btn);

        img {
            width: 1rem;
            background: transparent;
        }
    }
}

.logo {
    font-size: 2rem;
    background: linear-gradient(45deg, #1f1fff, hsl(120, 95%, 35%), hsl(283, 93%, 32%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--ff-logo);
}

.navlinks {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navlinks>li {
    font-size: .9rem;

    a {
        text-decoration: none;
        color: var(--border-color);
        opacity: 0.6;
        transition: var(--transition);
    }

    a:hover {
        opacity: 1;
        color: var(--cta-btn-clr);
    }
}

.hero {
    margin-block: 10rem;
    margin-inline: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    place-items: center;
}

.hero>img {
    width: 25rem;
    border-radius: 1rem;
}

.intro:first-child {
    color: whitesmoke;
    font-size: 1.5rem;
}

.intro h2>.span {
    font-weight: 300;
}

.intro .paragraph {
    font-size: 0.9rem;
}

.intro button {
    margin-top: 2rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background: var(--primary-btn-clr);
    color: var(--clr-btn);
}

.intro .updating-text {
    color: var(--cta-btn-clr);
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}

.updating-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(240, 16%, 16%);
    top: 0;
    left: 0;
    border-left: .2rem solid var(--cta-btn-clr);
    animation: animate 4s steps(12) infinite;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.social-icons>a {
    width: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    transition: var(--transition);
}

.social-icons>* {
    background: hsl(240, 17%, 17%);
    padding: 0.5rem;
    border-radius: 50%;
}

.social-icons img {
    background: white;
    width: 1.8rem;
    border-radius: 50%;
}

.social-icons a:hover{
    scale: 1.2rem;
    background: white;
}

.projects {
    img {
        height: 90%;
        width: 100%;
        transition: var(--transition);
    }
}

.projects .works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.projects .works .work {
    display: grid;
    grid-template-rows: 1fr;

    border: .1rem solid var(--border-color);
    border-radius: var(--border-rad);
}

.projects .works .work .desc-section {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects .btn_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.projects button {
    background: var(--cta-btn-clr);
    color: white;
    padding: var(--padding);
}

.skills {
    /* margin-top: 2rem; */

    img {
        width: 5rem;
    }
}

.frontend, .backend, .gaming {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.skill {
    --clr-shadow:white;
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    justify-content: center;
    margin-block: 1rem;
    box-shadow: var(--box-shadow) var(--clr-shadow);
    gap: 1rem;
    width: 90%;
    transition: var(--transition);

    img:hover {
        scale: 1.05;
    }
}

.skills >.frontend>:nth-child(1) {
    --clr-shadow: orangered;
}
.skills >.frontend>:nth-child(2) {
    --clr-shadow: rgb(47, 143, 252);
}
.skills >.frontend>:nth-child(3) {
    --clr-shadow: yellow;
}
.skills >.frontend>:nth-child(4) {
    --clr-shadow: rgb(3, 108, 228);
}
.skills >.backend>:nth-child(1) {
    --clr-shadow: hsl(192, 95%, 39%);
}
.skills >.backend>:nth-child(2) {
    --clr-shadow: hsl(120, 87%, 43%);
}
.skills >.backend>:nth-child(3) {
    --clr-shadow: hsl(120, 81%, 65%);
}
.skills >.backend>:nth-child(4) {
    --clr-shadow: #fff;
}
.skills >.gaming>:nth-child(1) {
    --clr-shadow: rgb(241, 30, 30);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    button {
        background: var(--cta-btn-clr);
        color: white;
        padding: var(--padding);

    }
}

.form-container input,
.form-container textarea {
    place-items: center;
    width: 30rem;
    background: transparent;
    padding: 1rem;
    font-size: 1rem;
    border: .1rem solid var(--border-color);
    border-radius: var(--border-rad);
}

@keyframes animate {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(0);
    }
}